* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #00FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quadrado {
  width: 400px;
  height: 400px;
  background: #00E0FF;
}

.quadrado:hover {
  background: #FFE600;
}

.circulo {
  width: 160px;
  height: 160px;
  background: #FFE600;
  border-radius: 100%;
  position: absolute;
}

.circulo.cor-preto {
  background: black;
}